.m_messages-wrapper {
  margin-top: 20px;
}

// Base
$main-color: #286bcc;
.btn-white-1 {
  color: $main-color;
  font-size: 11px;
  width: 100px;
}

.btn-blue-1 {
  color: white;
  font-size: 11px;
  width: 100px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.width100 {
  width: 100%;
}

.emoji-image {
  display: none !important;
}

.emoji-items .emoji-image {
  display: inline-block !important;
}

.richText-editor .emoji-image {
  display: inline-block !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aaa;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa;
}

.m_clear-sp {
  display: none;
}

.m_messages {
  background-color: rgb(250, 250, 250);
  padding: 20px 50px;
  font-size: 12px;
  .m_general {
    .m_activity-priority {
      .m_priority-input {
        width: 80px;
        border-radius: 5px;
        border: 1px solid rgb(162, 162, 162);
        height: 25px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    .m_input-wrapper {
      position: relative;
      .m_input {
        height: 32px;
        border: 1px solid rgb(162, 162, 162);
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 55px;
        width: 100%;
      }
      span {
        position: absolute;
        right: 18px;
        top: 8px;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 10px;
        padding-left: 10px;
        border-left: 1px solid #ccc;
        cursor: pointer;
        color: #aaa;
      }
    }
  }
  .m_editor {
    .m_button-tab-wrapper {
      .m_button-tab {
        $m_button_tab_size: (100%/7.5);
        color: $main-color;
        border: 1px solid $main-color;
        font-size: 12px;
        width: $m_button_tab_size;
        margin-bottom: 3px;
        &:hover {
          background-color: #337ab7;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .m_clear-sp {
    display: block;
  }
  .m_input-wrapper {
    padding-left: 15px !important;
  }
  .m_editor {
    .m_button-tab-wrapper {
      .m_button-tab {
        $m_button_tab_size: (100%/3.5);
        width: $m_button_tab_size !important;
      }
    }
  }
}

.m_editor-text-1 {
  position: relative;
  padding: 16px 20px 20px;
  background-color: rgb(235, 235, 235);
  .m_editor-content {
    width: 85%;
    border-right: 1px solid #fff;
    padding-right: 30px;
    position: relative;
    .m_editor-text-textarea {
      width: 100%;
      .m_editor-textarea {
        width: 85%;
        position: relative;
        float: left;
        .textarea {
          width: 100%;
          border: none;
          border-radius: 5px;
          padding: 13px;
          max-width: 100%;
          background-color: #fff;
          min-height: 50px;
          height: auto;
          line-height: 25px;
        }
        i {
          color: #fff;
          font-size: 15px;
          position: absolute;
          right: -10px;
          top: 20px;
        }
      }
      .m_editor-textarea-emoji {
        width: 15%;
        float: left;
        &>div {
          width: 95px;
          float: right;
          margin-top: 10px;
          img {
            width: 30px;
            border-radius: 50px;
            margin-right: 10px;
            border: 1px solid #bbb;
          }
        }
      }
    }
  }
  .m_editor-action {
    position: absolute;
    right: 0;
    top: 32px;
    width: 140px;
    .m_editor-action-button {
      padding: 0;
      width: 65px;
      .btn-blue-2 {
        font-size: 11px;
        width: 60px;
      }
      .btn-white-2 {
        font-size: 11px;
        width: 60px;
      }
    }
    .m_editor-rank-button {
      padding: 0;
      .m_editor-position-button {
        background-color: rgb(150, 150, 150);
        border: none;
        color: #fff;
        margin-bottom: 3px;
      }
      .up {
        transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        width: 28px;
        height: 28px;
        i {
          margin-top: 4px;
        }
      }
      .down {
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        width: 28px;
        height: 28px;
        i {
          margin-top: 4px;
        }
      }
      .top {
        transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        width: 25px;
        height: 25px;
      }
      .bottom {
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        width: 25px;
        height: 25px;
        vertical-align: top;
        i {
          margin-top: 4px;
        }
      }
    }
  }
}

.m_editor-text-2 {
  position: relative;
  padding: 16px 20px 20px;
  background-color: rgb(244, 249, 254);
  border: 1px solid rgb(200, 214, 240);
  .m_editor-content {
    position: relative;
    .m_editor-text-textarea {
      width: 100%;
      .m_editor-textarea {
        width: 80%;
        position: relative;
        float: left;
        textarea#m_textarea {
          width: 100%;
          border: none;
          padding: 13px;
          max-width: 100%;
          min-height: 25px;
          line-height: 25px;
        }
        .fr-emoticon img {
          height: 30px;
        }
        .fr-view {
          min-height: 240px;
        }
        .fr-box {
          margin-top: 20px;
        }
        .richText {
          margin-bottom: 20px;
        }
        .wysiwyg-editor {
          min-height: 120px;
        }
        .button {
          -moz-user-select: none;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        /* CSS for the font-name + font-size plugin */
        .wysiwyg-plugin-list {
          max-height: 16em;
          overflow: auto;
          overflow-x: hidden;
          overflow-y: scroll;
        }
        .wysiwyg-plugin-list a,
        .wysiwyg-plugin-list a:link,
        .wysiwyg-plugin-list a:visited {
          display: block;
          color: black;
          padding: 5px 10px;
          text-decoration: none;
          cursor: pointer;
        }
        .wysiwyg-plugin-list a:hover {
          color: HighlightText;
          background-color: Highlight;
        }
        /* CSS for the smiley plugin */
        .wysiwyg-plugin-smilies {
          padding: 10px;
          text-align: center;
          white-space: normal;
        }
        .wysiwyg-plugin-smilies img {
          display: -moz-inline-stack;
          /* inline-block: http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */
          display: inline-block;
          *display: inline;
          margin-right: 3px;
          margin-bottom: 3px;
        }
        /* Fake bootstrap + uikit */
        .fake-bootstrap.wysiwyg-container.wysiwyg-active {
          /* colors shamelessly stolen from bootstrap.form-control:focus */
          border-color: #66afe9;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        }
        .fake-uikit.wysiwyg-container.wysiwyg-active {
          border-color: #99baca !important;
          background: #f5fbfe !important;
        }
        i.emoji-picker-icon {
          color: #337ab7;
          font-size: 16px;
          position: absolute;
          right: 10px;
          top: 10px;
        }
        .emoji-menu {
          top: 33px;
          .emoji-items {
            a {
              img {
                max-width: none;
              }
            }
          }
        }
      }
      .m_editor-textarea-emoji {
        width: 20%;
        float: left;
        &>div {
          float: left;
          margin-top: 10px;
          margin-left: 20px;
          img {
            width: 30px;
            border-radius: 50px;
            margin-right: 10px;
            border: 1px solid #bbb;
          }
          select {
            width: 90px;
            display: inline;
          }
        }
      }
    }
    .m_editor-textarea {
      .richText {
        .richText-toolbar {
          ul {
            padding: 0;
            margin: 0;
          }
        }
      }
      .emoji-wysiwyg-editor {
        display: none;
      }
    }
    .m_tool-wrapper {}
  }
}

@media screen and (max-width: 1200px) {
  .m_editor-text-1 {
    .m_editor-content {
      width: 82%;
      .m_editor-text-textarea {
        .m_editor-textarea {
          width: 82%;
        }
        .m_editor-textarea-emoji {
          width: 18%;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .m_editor-text-1 {
    .m_editor-content {
      width: 75%;
      .m_editor-text-textarea {
        .m_editor-textarea {
          width: 72%;
        }
        .m_editor-textarea-emoji {
          width: 28%;
        }
      }
    }
  }
  .m_editor-text-2 {
    .m_editor-content {
      .m_editor-text-textarea {
        .m_editor-textarea {
          width: 68%;
        }
        .m_editor-textarea-emoji {
          width: 32%;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .m_editor-text-1 {
    .m_editor-content {
      width: 70%;
      .m_editor-text-textarea {
        .m_editor-textarea {
          width: 100%;
        }
        .m_editor-textarea-emoji {
          width: 100%;
        }
      }
    }
  }
  .m_editor-text-2 {
    .m_editor-content {
      .m_editor-text-textarea {
        .m_editor-textarea {
          width: 100%;
        }
        .m_editor-textarea-emoji {
          width: 100%;
          &>div {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .m_editor-text-1 {
    .m_editor-content {
      width: 65%;
    }
  }
}

@media screen and (max-width: 480px) {
  .btn-white-1,
  .btn-blue-1 {
    width: 80px;
    margin-bottom: 5px;
  }
  .m_editor-text-1 {
    .m_editor-content {
      width: 55%;
    }
  }
}
