.m_messages-wrapper {
  margin-top: 20px; }

.btn-white-1 {
  color: #286bcc;
  font-size: 11px;
  width: 100px; }

.btn-blue-1 {
  color: white;
  font-size: 11px;
  width: 100px;
  background-color: #286bcc; }

.btn-blue-2 {
  font-size: 11px;
  width: 60px;
  background-color: #286bcc; }

.btn-white-2 {
  font-size: 11px;
  width: 60px; }

hr {
  margin-top: 10px;
  margin-bottom: 10px; }

.width100 {
  width: 100%; }

.emoji-image {
  display: none !important; }

.emoji-items .emoji-image {
  display: inline-block !important; }

.richText-editor .emoji-image {
  display: inline-block !important; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aaa; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa; }

.m_clear-sp {
  display: none; }

.m_messages {
  background-color: #fafafa;
  padding: 20px 50px;
  font-size: 12px; }
  .m_messages .m_general .m_activity-priority .m_priority-input {
    width: 80px;
    border-radius: 5px;
    border: 1px solid #a2a2a2;
    height: 25px;
    padding-left: 8px;
    padding-right: 8px; }
  .m_messages .m_general .m_input-wrapper {
    position: relative; }
    .m_messages .m_general .m_input-wrapper .m_input {
      height: 32px;
      border: 1px solid #a2a2a2;
      border-radius: 5px;
      padding-left: 15px;
      padding-right: 55px;
      width: 100%; }
    .m_messages .m_general .m_input-wrapper span {
      position: absolute;
      right: 18px;
      top: 8px;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 10px;
      padding-left: 10px;
      border-left: 1px solid #ccc;
      cursor: pointer;
      color: #aaa; }
  .m_messages .m_editor .m_button-tab-wrapper .m_button-tab {
    color: #286bcc;
    border: 1px solid #286bcc;
    font-size: 12px;
    width: 13.33333%;
    margin-bottom: 3px; }
    .m_messages .m_editor .m_button-tab-wrapper .m_button-tab:hover {
      background-color: #337ab7;
      color: #fff; }

.m_editor-action {
  position: absolute;
  right: 0;
  top: 32px;
  width: 140px; }
  .m_editor-action .m_editor-action-button {
    padding: 0;
    width: 65px; }
  .m_editor-action .m_editor-rank-button {
    padding: 0; }
    .m_editor-action .m_editor-rank-button .m_editor-position-button {
      background-color: #969696;
      border: none;
      color: #fff;
      margin-bottom: 3px; }
    .m_editor-action .m_editor-rank-button .up {
      transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      width: 28px;
      height: 28px; }
      .m_editor-action .m_editor-rank-button .up i {
        margin-top: 4px; }
    .m_editor-action .m_editor-rank-button .down {
      transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      width: 28px;
      height: 28px; }
      .m_editor-action .m_editor-rank-button .down i {
        margin-top: 4px; }
    .m_editor-action .m_editor-rank-button .top {
      transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      width: 25px;
      height: 25px; }
    .m_editor-action .m_editor-rank-button .bottom {
      transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      width: 25px;
      height: 25px;
      vertical-align: top; }
      .m_editor-action .m_editor-rank-button .bottom i {
        margin-top: 4px; }

.m_editor-text-1 {
  position: relative;
  padding: 16px 20px 20px;
  background-color: #ebebeb; }
  .m_editor-text-1 .m_editor-content {
    width: 85%;
    border-right: 1px solid #fff;
    padding-right: 30px;
    position: relative; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea {
      width: 100%; }
      .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
        width: 85%;
        position: relative;
        float: left; }
        .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea .textarea {
          width: 100%;
          border: none;
          border-radius: 5px;
          padding: 13px;
          max-width: 100%;
          background-color: #fff;
          min-height: 50px;
          height: auto;
          line-height: 25px; }
        .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea i {
          color: #fff;
          font-size: 15px;
          position: absolute;
          right: -10px;
          top: 20px; }
      .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
        width: 15%;
        float: left; }
        .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div {
          width: 95px;
          float: right;
          margin-top: 10px; }
          .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div img {
            width: 30px;
            border-radius: 50px;
            margin-right: 10px;
            border: 1px solid #bbb; }

.m_editor-text-2 {
  position: relative;
  padding: 16px 20px 20px;
  background-color: #f4f9fe;
  border: 1px solid #c8d6f0; }
  .m_editor-text-2 .m_editor-content {
    position: relative; }
    .m_editor-text-2 .m_editor-content .m_editor-text-textarea {
      width: 100%; }
      .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
        width: 80%;
        position: relative;
        float: left;
        /* CSS for the font-name + font-size plugin */
        /* CSS for the smiley plugin */
        /* Fake bootstrap + uikit */ }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea textarea#m_textarea {
          width: 100%;
          border: none;
          padding: 13px;
          max-width: 100%;
          min-height: 25px;
          line-height: 25px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .fr-emoticon img {
          height: 30px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .fr-view {
          min-height: 240px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .fr-box {
          margin-top: 20px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .richText {
          margin-bottom: 20px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-editor {
          min-height: 120px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .button {
          -moz-user-select: none;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-list {
          max-height: 16em;
          overflow: auto;
          overflow-x: hidden;
          overflow-y: scroll; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-list a,
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-list a:link,
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-list a:visited {
          display: block;
          color: black;
          padding: 5px 10px;
          text-decoration: none;
          cursor: pointer; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-list a:hover {
          color: HighlightText;
          background-color: Highlight; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-smilies {
          padding: 10px;
          text-align: center;
          white-space: normal; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-smilies img {
          display: -moz-inline-stack;
          /* inline-block: http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */
          display: inline-block;
          *display: inline;
          margin-right: 3px;
          margin-bottom: 3px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .fake-bootstrap.wysiwyg-container.wysiwyg-active {
          /* colors shamelessly stolen from bootstrap.form-control:focus */
          border-color: #66afe9;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .fake-uikit.wysiwyg-container.wysiwyg-active {
          border-color: #99baca !important;
          background: #f5fbfe !important; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea i.emoji-picker-icon {
          color: #337ab7;
          font-size: 16px;
          position: absolute;
          right: 10px;
          top: 10px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .emoji-menu {
          top: 33px; }
          .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .emoji-menu .emoji-items a img {
            max-width: none; }
      .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
        width: 20%;
        float: left; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div {
          float: left;
          margin-top: 10px;
          margin-left: 20px; }
          .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div img {
            width: 30px;
            border-radius: 50px;
            margin-right: 10px;
            border: 1px solid #bbb; }
          .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div select {
            width: 90px;
            display: inline; }
    .m_editor-text-2 .m_editor-content .m_editor-textarea .richText .richText-toolbar ul {
      padding: 0;
      margin: 0; }
    .m_editor-text-2 .m_editor-content .m_editor-textarea .emoji-wysiwyg-editor {
      display: none; }

.m_editor-quote-1 {
  position: relative;
  padding: 16px 20px 20px;
  background-color: #ebebeb; }
  .m_editor-quote-1 .m_editor-content {
    width: 85%;
    border-right: 1px solid #fff;
    padding-right: 30px;
    position: relative; }
    .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea {
      width: 100%; }
      .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-content-wrapper {
        width: 85%;
        position: relative;
        float: left;
        padding-right: 10px; }
        .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-content-wrapper .m_quote-content {
          width: 100%;
          border: none;
          border-radius: 5px;
          padding: 13px;
          max-width: 100%;
          background-color: #fff;
          min-height: 50px;
          height: auto;
          line-height: 25px; }
          .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-content-wrapper .m_quote-content .m_quote-title {
            line-height: 20px; }
            .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-content-wrapper .m_quote-content .m_quote-title span {
              color: #888; }
          .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-content-wrapper .m_quote-content .m_quote-reference {
            line-height: 20px;
            margin-bottom: 5px; }
            .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-content-wrapper .m_quote-content .m_quote-reference a small {
              color: #888;
              font-size: 10px; }
          .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-content-wrapper .m_quote-content .m_quote-comment {
            color: #888;
            font-size: 11px;
            border-left: 5px solid #888;
            line-height: 20px;
            padding-left: 5px; }
      .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-edit {
        width: 15%;
        float: left; }
        .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-edit button {
          margin-top: 30px;
          width: 100%; }

.m_editor-quote-2 {
  position: relative;
  padding: 16px 20px 20px;
  background-color: #f4f9fe;
  border: 1px solid #c8d6f0; }
  .m_editor-quote-2 .m_editor-content {
    width: 100%;
    border-right: 1px solid #fff;
    position: relative; }
    .m_editor-quote-2 .m_editor-content textarea {
      width: 100%;
      border: 1px solid #6c96c8;
      padding: 13px;
      max-width: 100%;
      min-height: 25px;
      line-height: 25px;
      margin-bottom: 10px;
      border-radius: 5px; }
    .m_editor-quote-2 .m_editor-content input {
      width: 100%;
      border: 1px solid #6c96c8;
      padding: 8px 13px;
      margin-bottom: 10px;
      border-radius: 5px; }

.m_editor-linkcard-1 {
  position: relative;
  padding: 16px 20px 30px;
  background-color: #ebebeb; }
  .m_editor-linkcard-1 .m_editor-content {
    width: 86%;
    border-right: 1px solid #fff;
    padding-right: 30px;
    position: relative; }
    .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper {
      width: 100%; }
      .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-textarea {
        width: 60%;
        float: left; }
        .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-textarea .m_linkcard-url h5 {
          font-size: 12px;
          color: #666;
          margin-top: 20px;
          margin-bottom: 3px; }
        .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-textarea .m_linkcard-url p a {
          font-size: 11px; }
        .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-textarea .m_linkcard-title h5 {
          font-size: 12px;
          color: #666;
          margin-top: 20px;
          margin-bottom: 3px; }
        .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-textarea .m_linkcard-title p {
          font-size: 11px; }
        .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-textarea .m_linkcard-description h5 {
          font-size: 12px;
          color: #666;
          margin-top: 20px;
          margin-bottom: 3px; }
        .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-textarea .m_linkcard-description p {
          font-size: 11px; }
        .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-textarea button {
          width: 180px;
          margin-top: 15px; }
      .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-preview {
        width: 40%;
        float: left; }
        .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-preview .preview-wrapper {
          width: 90%;
          float: right; }
          .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-preview .preview-wrapper img {
            width: 100%; }
          .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-preview .preview-wrapper .preview-content {
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-top: 0; }
            .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-preview .preview-wrapper .preview-content .preview-title {
              font-size: 11px;
              font-weight: bold; }
            .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-preview .preview-wrapper .preview-content .preview-description {
              font-size: 11px;
              color: #666;
              margin-top: 10px;
              margin-bottom: 3px; }
  .m_editor-linkcard-1 .m_editor-action {
    top: 150px; }

.m_editor-linkcard-2 .m_editor-content {
  position: relative;
  padding: 16px 20px 30px;
  background-color: #f4f9fe;
  border: 1px solid #c8d6f0; }
  .m_editor-linkcard-2 .m_editor-content .m_editor-linkcard-wrapper input {
    width: 100%;
    border: 1px solid #6c96c8;
    padding: 8px 13px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 5px; }
  .m_editor-linkcard-2 .m_editor-content .m_editor-linkcard-wrapper button {
    margin-top: 10px; }

.m_editor-product-1 {
  position: relative;
  padding: 16px 20px 30px;
  background-color: #ebebeb; }
  .m_editor-product-1 .m_editor-content {
    width: 86%;
    border-right: 1px solid #fff;
    padding-right: 30px;
    position: relative; }
    .m_editor-product-1 .m_editor-content .m_editor-product-wrapper {
      width: 100%; }
      .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea {
        width: 60%;
        float: left; }
        .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-url h5 {
          font-size: 12px;
          color: #666;
          margin-top: 20px;
          margin-bottom: 3px; }
        .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-url p a {
          font-size: 11px; }
        .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-title h5 {
          font-size: 12px;
          color: #666;
          margin-top: 20px;
          margin-bottom: 3px; }
        .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-title p {
          font-size: 11px; }
        .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-description h5 {
          font-size: 12px;
          color: #666;
          margin-top: 20px;
          margin-bottom: 3px; }
        .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-description p {
          font-size: 11px; }
        .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-price {
          margin-top: 15px; }
          .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-price .m_product-price-1, .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-price .m_product-price-2 {
            padding-left: 0; }
            .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-price .m_product-price-1 strong, .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea .m_product-price .m_product-price-2 strong {
              font-size: 12px;
              color: #666;
              margin-top: 20px;
              margin-bottom: 3px; }
        .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea button {
          width: 180px;
          margin-top: 20px; }
      .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview {
        width: 40%;
        float: left; }
        .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper {
          width: 90%;
          float: right; }
          .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .m_slide_list {
            width: 100%; }
            .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .m_slide_list .m_item_slide img {
              width: 100%; }
          .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .slick-slider {
            margin-bottom: 0; }
            .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .slick-slider .slick-dots {
              bottom: -8px; }
          .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .preview-content {
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-top: 0; }
            .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .preview-content .preview-title {
              font-size: 11px;
              font-weight: bold; }
            .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .preview-content .preview-tag {
              font-size: 9px;
              margin-top: 4px;
              color: #666; }
            .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .preview-content .preview-description {
              font-size: 11px;
              color: #666;
              margin-top: 8px;
              margin-bottom: 3px; }
            .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .preview-content .preview-price {
              margin-top: 6px; }
              .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .preview-content .preview-price span {
                text-decoration: line-through; }
              .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper .preview-content .preview-price strong {
                color: #d00005;
                font-size: 15px; }
  .m_editor-product-1 .m_editor-action {
    top: 150px; }

.m_editor-product-2 .m_editor-content {
  position: relative;
  padding: 16px 20px 30px;
  background-color: #f4f9fe;
  border: 1px solid #c8d6f0; }
  .m_editor-product-2 .m_editor-content .m_editor-product-wrapper .m_editor-input {
    position: relative;
    width: 50%; }
    .m_editor-product-2 .m_editor-content .m_editor-product-wrapper .m_editor-input span {
      position: absolute;
      color: #286bcc;
      right: 12px;
      top: 15px;
      font-size: 11px;
      border-left: 1px solid #aaa;
      padding-left: 12px;
      cursor: pointer; }
  .m_editor-product-2 .m_editor-content .m_editor-product-wrapper input {
    width: 100%;
    border: 1px solid #6c96c8;
    padding: 8px 13px;
    padding-right: 60px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 5px; }
  .m_editor-product-2 .m_editor-content .m_editor-product-wrapper button {
    margin-top: 10px; }

@media screen and (max-width: 1200px) {
  .m_editor-text-1 .m_editor-content {
    width: 82%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
      width: 82%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
      width: 18%; }

  .m_editor-quote-1 .m_editor-content {
    padding-right: 10px; }

  .m_editor-linkcard-1 .m_editor-content {
    width: 83%; }

  .m_editor-product-1 .m_editor-content {
    width: 83%; } }
@media screen and (max-width: 992px) {
  .m_editor-text-1 .m_editor-content {
    width: 75%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
      width: 72%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
      width: 28%; }

  .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
    width: 68%; }
  .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
    width: 32%; }

  .m_editor-quote-1 .m_editor-content {
    width: 79%; }

  .m_editor-linkcard-1 .m_editor-content {
    width: 77%; }

  .m_editor-product-1 .m_editor-content {
    width: 77%; } }
@media screen and (max-width: 768px) {
  .m_clear-sp {
    display: block; }

  .m_input-wrapper {
    padding-left: 15px !important; }

  .m_editor .m_button-tab-wrapper .m_button-tab {
    width: 28.57143% !important; }

  .m_editor-quote-1 .m_editor-content {
    width: 76%; }
    .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-content-wrapper {
      width: 82%; }
    .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-edit {
      width: 18%; }

  .m_editor-linkcard-1 .m_editor-content {
    width: 75%; }

  .m_editor-product-1 .m_editor-content {
    width: 75%; } }
@media screen and (max-width: 640px) {
  .m_editor-text-1 .m_editor-content {
    width: 70%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
      width: 100%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
      width: 100%; }

  .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
    width: 100%; }
  .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
    width: 100%; }
    .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div {
      margin-left: 0; }

  .m_editor-quote-1 .m_editor-content {
    width: 73%; }
    .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-content-wrapper {
      width: 100%;
      margin-bottom: 10px; }
    .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-edit {
      width: 30%; }

  .m_editor-linkcard-1 .m_editor-content {
    width: 70%; }
    .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-textarea {
      width: 100%;
      margin-bottom: 10px; }
    .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-preview {
      width: 100%; }
      .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-preview .preview-wrapper {
        width: 100%; }

  .m_editor-product-1 .m_editor-content {
    width: 70%; }
    .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea {
      width: 100%;
      margin-bottom: 10px; }
    .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview {
      width: 100%; }
      .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-preview .preview-wrapper {
        width: 100%; }

  .m_editor-product-2 .m_editor-content .m_editor-product-wrapper .m_editor-input {
    width: 100%; } }
@media screen and (max-width: 560px) {
  .m_editor-text-1 .m_editor-content {
    width: 65%; }

  .m_editor-quote-1 .m_editor-content {
    width: 64%; }

  .m_editor-linkcard-1 .m_editor-content {
    width: 65%; }

  .m_editor-product-1 .m_editor-content {
    width: 65%; } }
@media screen and (max-width: 480px) {
  .btn-white-1,
  .btn-blue-1 {
    width: 80px;
    margin-bottom: 5px; }

  .m_editor-text-1 .m_editor-content {
    width: 55%; }

  .m_editor-quote-1 .m_editor-content {
    width: 55%; }
    .m_editor-quote-1 .m_editor-content .m_editor-quote-textarea .m_quote-edit {
      width: 50%; }

  .m_editor-linkcard-1 .m_editor-content {
    width: 55%; }
    .m_editor-linkcard-1 .m_editor-content .m_editor-linkcard-wrapper .m_linkcard-textarea button {
      width: 100%; }

  .m_editor-product-1 .m_editor-content {
    width: 55%; }
    .m_editor-product-1 .m_editor-content .m_editor-product-wrapper .m_product-textarea button {
      width: 100%; } }
