.m_messages-wrapper {
  margin-top: 20px; }

.btn-white-1 {
  color: #286bcc;
  font-size: 11px;
  width: 100px; }

.btn-blue-1 {
  color: white;
  font-size: 11px;
  width: 100px; }

hr {
  margin-top: 10px;
  margin-bottom: 10px; }

.width100 {
  width: 100%; }

.emoji-image {
  display: none !important; }

.emoji-items .emoji-image {
  display: inline-block !important; }

.richText-editor .emoji-image {
  display: inline-block !important; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aaa; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa; }

.m_clear-sp {
  display: none; }

.m_messages {
  background-color: #fafafa;
  padding: 20px 50px;
  font-size: 12px; }
  .m_messages .m_general .m_activity-priority .m_priority-input {
    width: 80px;
    border-radius: 5px;
    border: 1px solid #a2a2a2;
    height: 25px;
    padding-left: 8px;
    padding-right: 8px; }
  .m_messages .m_general .m_input-wrapper {
    position: relative; }
    .m_messages .m_general .m_input-wrapper .m_input {
      height: 32px;
      border: 1px solid #a2a2a2;
      border-radius: 5px;
      padding-left: 15px;
      padding-right: 55px;
      width: 100%; }
    .m_messages .m_general .m_input-wrapper span {
      position: absolute;
      right: 18px;
      top: 8px;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 10px;
      padding-left: 10px;
      border-left: 1px solid #ccc;
      cursor: pointer;
      color: #aaa; }
  .m_messages .m_editor .m_button-tab-wrapper .m_button-tab {
    color: #286bcc;
    border: 1px solid #286bcc;
    font-size: 12px;
    width: 13.33333%;
    margin-bottom: 3px; }
    .m_messages .m_editor .m_button-tab-wrapper .m_button-tab:hover {
      background-color: #337ab7;
      color: #fff; }

@media screen and (max-width: 768px) {
  .m_clear-sp {
    display: block; }

  .m_input-wrapper {
    padding-left: 15px !important; }

  .m_editor .m_button-tab-wrapper .m_button-tab {
    width: 28.57143% !important; } }
.m_editor-text-1 {
  position: relative;
  padding: 16px 20px 20px;
  background-color: #ebebeb; }
  .m_editor-text-1 .m_editor-content {
    width: 85%;
    border-right: 1px solid #fff;
    padding-right: 30px;
    position: relative; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea {
      width: 100%; }
      .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
        width: 85%;
        position: relative;
        float: left; }
        .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea .textarea {
          width: 100%;
          border: none;
          border-radius: 5px;
          padding: 13px;
          max-width: 100%;
          background-color: #fff;
          min-height: 50px;
          height: auto;
          line-height: 25px; }
        .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea i {
          color: #fff;
          font-size: 15px;
          position: absolute;
          right: -10px;
          top: 20px; }
      .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
        width: 15%;
        float: left; }
        .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div {
          width: 95px;
          float: right;
          margin-top: 10px; }
          .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div img {
            width: 30px;
            border-radius: 50px;
            margin-right: 10px;
            border: 1px solid #bbb; }
  .m_editor-text-1 .m_editor-action {
    position: absolute;
    right: 0;
    top: 32px;
    width: 140px; }
    .m_editor-text-1 .m_editor-action .m_editor-action-button {
      padding: 0;
      width: 65px; }
      .m_editor-text-1 .m_editor-action .m_editor-action-button .btn-blue-2 {
        font-size: 11px;
        width: 60px; }
      .m_editor-text-1 .m_editor-action .m_editor-action-button .btn-white-2 {
        font-size: 11px;
        width: 60px; }
    .m_editor-text-1 .m_editor-action .m_editor-rank-button {
      padding: 0; }
      .m_editor-text-1 .m_editor-action .m_editor-rank-button .m_editor-position-button {
        background-color: #969696;
        border: none;
        color: #fff;
        margin-bottom: 3px; }
      .m_editor-text-1 .m_editor-action .m_editor-rank-button .up {
        transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        width: 28px;
        height: 28px; }
        .m_editor-text-1 .m_editor-action .m_editor-rank-button .up i {
          margin-top: 4px; }
      .m_editor-text-1 .m_editor-action .m_editor-rank-button .down {
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        width: 28px;
        height: 28px; }
        .m_editor-text-1 .m_editor-action .m_editor-rank-button .down i {
          margin-top: 4px; }
      .m_editor-text-1 .m_editor-action .m_editor-rank-button .top {
        transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        width: 25px;
        height: 25px; }
      .m_editor-text-1 .m_editor-action .m_editor-rank-button .bottom {
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        width: 25px;
        height: 25px;
        vertical-align: top; }
        .m_editor-text-1 .m_editor-action .m_editor-rank-button .bottom i {
          margin-top: 4px; }

.m_editor-text-2 {
  position: relative;
  padding: 16px 20px 20px;
  background-color: #f4f9fe;
  border: 1px solid #c8d6f0; }
  .m_editor-text-2 .m_editor-content {
    position: relative; }
    .m_editor-text-2 .m_editor-content .m_editor-text-textarea {
      width: 100%; }
      .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
        width: 80%;
        position: relative;
        float: left;
        /* CSS for the font-name + font-size plugin */
        /* CSS for the smiley plugin */
        /* Fake bootstrap + uikit */ }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea textarea#m_textarea {
          width: 100%;
          border: none;
          padding: 13px;
          max-width: 100%;
          min-height: 25px;
          line-height: 25px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .fr-emoticon img {
          height: 30px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .fr-view {
          min-height: 240px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .fr-box {
          margin-top: 20px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .richText {
          margin-bottom: 20px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-editor {
          min-height: 120px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .button {
          -moz-user-select: none;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-list {
          max-height: 16em;
          overflow: auto;
          overflow-x: hidden;
          overflow-y: scroll; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-list a,
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-list a:link,
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-list a:visited {
          display: block;
          color: black;
          padding: 5px 10px;
          text-decoration: none;
          cursor: pointer; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-list a:hover {
          color: HighlightText;
          background-color: Highlight; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-smilies {
          padding: 10px;
          text-align: center;
          white-space: normal; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .wysiwyg-plugin-smilies img {
          display: -moz-inline-stack;
          /* inline-block: http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */
          display: inline-block;
          *display: inline;
          margin-right: 3px;
          margin-bottom: 3px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .fake-bootstrap.wysiwyg-container.wysiwyg-active {
          /* colors shamelessly stolen from bootstrap.form-control:focus */
          border-color: #66afe9;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .fake-uikit.wysiwyg-container.wysiwyg-active {
          border-color: #99baca !important;
          background: #f5fbfe !important; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea i.emoji-picker-icon {
          color: #337ab7;
          font-size: 16px;
          position: absolute;
          right: 10px;
          top: 10px; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .emoji-menu {
          top: 33px; }
          .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea .emoji-menu .emoji-items a img {
            max-width: none; }
      .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
        width: 20%;
        float: left; }
        .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div {
          float: left;
          margin-top: 10px;
          margin-left: 20px; }
          .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div img {
            width: 30px;
            border-radius: 50px;
            margin-right: 10px;
            border: 1px solid #bbb; }
          .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div select {
            width: 90px;
            display: inline; }
    .m_editor-text-2 .m_editor-content .m_editor-textarea .richText .richText-toolbar ul {
      padding: 0;
      margin: 0; }
    .m_editor-text-2 .m_editor-content .m_editor-textarea .emoji-wysiwyg-editor {
      display: none; }

@media screen and (max-width: 1200px) {
  .m_editor-text-1 .m_editor-content {
    width: 82%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
      width: 82%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
      width: 18%; } }
@media screen and (max-width: 992px) {
  .m_editor-text-1 .m_editor-content {
    width: 75%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
      width: 72%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
      width: 28%; }

  .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
    width: 68%; }
  .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
    width: 32%; } }
@media screen and (max-width: 640px) {
  .m_editor-text-1 .m_editor-content {
    width: 70%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
      width: 100%; }
    .m_editor-text-1 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
      width: 100%; }

  .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea {
    width: 100%; }
  .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji {
    width: 100%; }
    .m_editor-text-2 .m_editor-content .m_editor-text-textarea .m_editor-textarea-emoji > div {
      margin-left: 0; } }
@media screen and (max-width: 560px) {
  .m_editor-text-1 .m_editor-content {
    width: 65%; } }
@media screen and (max-width: 480px) {
  .btn-white-1,
  .btn-blue-1 {
    width: 80px;
    margin-bottom: 5px; }

  .m_editor-text-1 .m_editor-content {
    width: 55%; } }
